In [1]:
# select neccessary columns from 2016 Cases against Police Personnels.csv dataset
import pandas as pd
df1 = pd.read_csv('2016 Cases against Police Personnels.csv', warn_bad_lines = False, error_bad_lines = False)
df1 = df1.iloc[:, [2, 3, 4, 5, 6]]
df1['Year'] = [1 for i in range(len(df1))]
df1.rename(columns={'Total Number of Criminal Cases Registered during the year': 'Total Cases', 'Police Personnel Arrested': 'Police Arrested', 'Cases Chargesheeted': 'Chargesheets', 'Police Personnel Chargesheeted': 'Chargesheet against police'}, inplace = True)
df1

,State/UT,Total Cases,Police Arrested,Chargesheets,Chargesheet against police,Year
0,Andhra Pradesh,100,36,28,29,1
1,Arunachal Pradesh,24,10,13,13,1
2,Assam,37,18,8,8,1
3,Bihar,43,0,40,40,1
4,Chhattisgarh,65,26,32,38,1
5,Goa,20,11,8,8,1
6,Gujarat,130,131,91,105,1
7,Haryana,34,41,18,26,1
8,Himachal Pradesh,11,7,5,5,1
9,Jammu & Kashmir,29,22,15,17,1
10,Jharkhand,3,2,2,2,1
11,Karnataka,63,23,16,16,1
12,Kerala,171,50,49,42,1
13,Madhya Pradesh,66,44,61,65,1
14,Maharashtra,487,388,196,209,1
15,Manipur,0,19,0,0,1
16,Meghalaya,265,2,110,0,1
17,Mizoram,0,0,0,0,1
18,Nagaland,12,11,4,5,1
19,Odisha,64,35,28,25,1
20,Punjab,88,70,16,22,1
21,Rajasthan,158,30,33,31,1
22,Sikkim,0,0,0,0,1
23,Tamil Nadu,114,57,41,42,1
24,Telangana,57,33,29,29,1
25,Tripura,10,7,6,6,1
26,Uttar Pradesh,315,187,108,182,1
27,Uttarakhand,7,7,4,7,1
28,West Bengal,9,3,18,18,1
29,A & N Islands,0,0,0,0,1
30,Chandigarh,13,14,14,16,1
31,D&N Haveli,0,0,0,0,1
32,Daman & Diu,1,5,0,0,1
33,Delhi,136,42,2,2,1
34,Lakshadweep,0,0,0,0,1
35,Puducherry,96,0,96,96,1

In [2]:
# select neccessary columns from 2017 Cases against Police Personnels.csv dataset
df2 = pd.read_csv('2017 Cases against Police Personnels.csv', warn_bad_lines = False, error_bad_lines = False)
df2 = df2.iloc[:, [2, 3, 7, 5, 8]]
df2['Year'] = [2 for i in range(len(df2))]
df2.rename(columns={'Number of Cases - Registered': 'Total Cases', 'Number of Police Personel - Arrested': 'Police Arrested', 'Number of Cases - Chargesheeted': 'Chargesheets', 'Number of Police Personel - Chargesheeted': 'Chargesheet against police'}, inplace = True)
df2

,State/UT,Total Cases,Police Arrested,Chargesheets,Chargesheet against police,Year
0,Andhra Pradesh,164,103,344,101,2
1,Arunachal Pradesh,9,0,1,5,2
2,Assam,8,0,1,1,2
3,Bihar,4,0,4,5,2
4,Chhattisgarh,20,0,10,17,2
5,Goa,25,11,2,11,2
6,Gujarat,191,178,125,176,2
7,Haryana,39,0,23,23,2
8,Himachal Pradesh,9,16,21,16,2
9,Jammu & Kashmir,40,0,52,28,2
10,Jharkhand,2,0,0,0,2
11,Karnataka,45,0,14,29,2
12,Kerala,114,45,16,31,2
13,Madhya Pradesh,50,0,60,48,2
14,Maharashtra,456,0,237,232,2
15,Manipur,0,0,0,0,2
16,Meghalaya,1,0,0,0,2
17,Mizoram,1,0,1,0,2
18,Nagaland,14,0,1,6,2
19,Odisha,44,0,23,12,2
20,Punjab,114,45,26,38,2
21,Rajasthan,169,0,82,29,2
22,Sikkim,0,0,0,0,2
23,Tamil Nadu,116,0,23,23,2
24,Telangana,87,47,18,44,2
25,Tripura,4,2,0,2,2
26,Uttar Pradesh,106,88,36,81,2
27,Uttarakhand,2,2,1,2,2
28,West Bengal,23,0,15,15,2
29,A & N Islands,8,7,7,7,2
30,Chandigarh,8,0,11,11,2
31,D&N Haveli,0,0,0,0,2
32,Daman & Diu,0,0,0,0,2
33,Delhi UT,13,5,4,5,2
34,Lakshadweep,0,0,0,0,2
35,Puducherry,119,0,63,2,2

In [3]:
# select neccessary columns from 2018 Cases against Police Personnels.csv dataset
df3 = pd.read_csv('2018 Cases against Police Personnels.csv', warn_bad_lines = False, error_bad_lines = False)
df3 = df3.iloc[:, [2, 3, 7, 5, 8]]
df3['Year'] = [3 for i in range(len(df3))]
df3.rename(columns={'Number of Cases - Registered': 'Total Cases', 'Number of Police Personel - Arrested': 'Police Arrested', 'Number of Cases - Chargesheeted': 'Chargesheets', 'Number of Police Personel - Chargesheeted': 'Chargesheet against police'}, inplace = True)
df3

,State/UT,Total Cases,Police Arrested,Chargesheets,Chargesheet against police,Year
0,Andhra Pradesh,97,0,45,61,3
1,Arunachal Pradesh,5,0,0,0,3
2,Assam,30,0,5,5,3
3,Bihar,17,0,11,63,3
4,Chhattisgarh,255,19,3,12,3
5,Goa,10,0,0,9,3
6,Gujarat,170,174,125,163,3
7,Haryana,64,0,46,26,3
8,Himachal Pradesh,13,0,5,9,3
9,Jammu & Kashmir,47,0,0,40,3
10,Jharkhand,2,0,0,0,3
11,Karnataka,92,0,38,17,3
12,Kerala,97,6,31,31,3
13,Madhya Pradesh,172,18,97,73,3
14,Maharashtra,401,319,197,197,3
15,Manipur,2,0,0,0,3
16,Meghalaya,0,0,0,0,3
17,Mizoram,3,0,0,2,3
18,Nagaland,3,0,0,0,3
19,Odisha,19,4,1,4,3
20,Punjab,286,0,17,18,3
21,Rajasthan,3340,3,2138,26,3
22,Sikkim,0,0,0,0,3
23,Tamil Nadu,71,26,7,19,3
24,Telangana,111,0,48,46,3
25,Tripura,11,0,1,1,3
26,Uttar Pradesh,90,0,32,46,3
27,Uttarakhand,5,3,2,0,3
28,West Bengal,46,0,9,35,3
29,A & N Islands,11,7,0,7,3
30,Chandigarh,2,1,0,3,3
31,D&N Haveli,0,0,0,0,3
32,Daman & Diu,0,0,0,0,3
33,Delhi UT,7,0,4,5,3
34,Lakshadweep,0,0,0,0,3
35,Puducherry,0,0,0,0,3

In [4]:
# create a new dataframe for cases against police personnels
against_police = pd.concat([df1, df2, df3])
against_police

,State/UT,Total Cases,Police Arrested,Chargesheets,Chargesheet against police,Year
0,Andhra Pradesh,100,36,28,29,1
1,Arunachal Pradesh,24,10,13,13,1
2,Assam,37,18,8,8,1
3,Bihar,43,0,40,40,1
4,Chhattisgarh,65,26,32,38,1
...,...,...,...,...,...,...
31,D&N Haveli,0,0,0,0,3
32,Daman & Diu,0,0,0,0,3
33,Delhi UT,7,0,4,5,3
34,Lakshadweep,0,0,0,0,3
35,Puducherry,0,0,0,0,3

In [5]:
# select neccessary columns from 2016 Escapes from Police Custody.csv dataset
df1 = pd.read_csv('2016 Escapes from Police Custody.csv', warn_bad_lines = False, error_bad_lines = False)
df1 = df1.iloc[:, [2, 4, 7, 8]]
data = []
for i in range(len(df1)):
    data.append(df1.iloc[i, 2] + df1.iloc[i, 3])
df1['Rearrested'] = data
del df1['Escapees Rearrested who Escaped - From Lockup']
del df1['Escapees Rearrested who Escaped - Other than Lockup']
df1['Year'] = [1 for i in range(len(df1))]
df1.rename(columns={'Total Number of Persons Escaped from Police Custody': 'Escaped'}, inplace = True)
df1

             State/UT  Escaped  Rearrested  Year
0      Andhra Pradesh       34          22     1
1   Arunachal Pradesh       18          17     1
2               Assam       42          22     1
3               Bihar       51          31     1
4        Chhattisgarh       28          19     1
5                 Goa        3           2     1
6             Gujarat       48          42     1
7             Haryana       56          43     1
8    Himachal Pradesh       10          10     1
9     Jammu & Kashmir       23          16     1
10          Jharkhand       12           4     1
11          Karnataka       33          25     1
12             Kerala       58          51     1
13     Madhya Pradesh      133          95     1
14        Maharashtra      118          94     1
15            Manipur        0           0     1
16          Meghalaya        5           1     1
17            Mizoram        7           3     1
18           Nagaland        0           0     1
19             Odisha       51          28     1
20             Punjab       64          32     1
21          Rajasthan       81          62     1
22             Sikkim        4           2     1
23         Tamil Nadu       24          18     1
24          Telangana       28          21     1
25            Tripura        7           3     1
26      Uttar Pradesh      327         262     1
27        Uttarakhand        5           0     1
28        West Bengal       25          16     1
29      A & N Islands        0           0     1
30         Chandigarh        5           5     1
31         D&N Haveli        0           0     1
32        Daman & Diu        0           0     1
33              Delhi       20          12     1
34        Lakshadweep        0           0     1
35         Puducherry        0           0     1

In [6]:
# select neccessary columns from 2017 Escapes from Police Custody.csv dataset
df2 = pd.read_csv('2017 Escapes from Police Custody.csv', warn_bad_lines = False, error_bad_lines = False)
df2 = df2.iloc[:, [2, 6, 7]]
df2['Year'] = [2 for i in range(len(df2))]
df2.rename(columns={'Persons Escaped - Total': 'Escaped', 'Escapees - Re-Arrested': 'Rearrested'}, inplace = True)
df2

             State/UT  Escaped  Rearrested  Year
0      Andhra Pradesh       38          33     2
1   Arunachal Pradesh       10          10     2
2               Assam       14          11     2
3               Bihar       65          43     2
4        Chhattisgarh       30          25     2
5                 Goa        4           2     2
6             Gujarat       49          39     2
7             Haryana       28          22     2
8    Himachal Pradesh       12          10     2
9     Jammu & Kashmir       11           8     2
10          Jharkhand        6           8     2
11          Karnataka       50          31     2
12             Kerala       34          30     2
13     Madhya Pradesh      104          74     2
14        Maharashtra      133         103     2
15            Manipur        1           1     2
16          Meghalaya        5           3     2
17            Mizoram        6           6     2
18           Nagaland        1           1     2
19             Odisha       49          37     2
20             Punjab       70          68     2
21          Rajasthan       74          82     2
22             Sikkim        0           0     2
23         Tamil Nadu       23          22     2
24          Telangana       24          19     2
25            Tripura        2           1     2
26      Uttar Pradesh      100          72     2
27        Uttarakhand       10           4     2
28        West Bengal       24          15     2
29      A & N Islands        0           0     2
30         Chandigarh        2           2     2
31         D&N Haveli        1           0     2
32        Daman & Diu        0           0     2
33           Delhi UT       28          21     2
34        Lakshadweep        0           0     2
35         Puducherry        1           1     2

In [7]:
# select neccessary columns from 2018 Escapes from Police Custody.csv dataset
df3 = pd.read_csv('2018 Escapes from Police Custody.csv', warn_bad_lines = False, error_bad_lines = False)
df3 = df3.iloc[:, [2, 6, 7]]
df3['Year'] = [3 for i in range(len(df3))]
df3.rename(columns={'Persons Escaped - Total': 'Escaped', 'Escapees - Re-Arrested': 'Rearrested'}, inplace = True)
df3

             State/UT  Escaped  Rearrested  Year
0      Andhra Pradesh       36          22     3
1   Arunachal Pradesh        2           2     3
2               Assam       37           6     3
3               Bihar       64          35     3
4        Chhattisgarh       32          24     3
5                 Goa        5           4     3
6             Gujarat       44          38     3
7             Haryana       33          16     3
8    Himachal Pradesh       11          11     3
9     Jammu & Kashmir       18          13     3
10          Jharkhand       15          10     3
11          Karnataka       33          23     3
12             Kerala       37          34     3
13     Madhya Pradesh      106          94     3
14        Maharashtra       87          64     3
15            Manipur        0           0     3
16          Meghalaya        3           3     3
17            Mizoram        6           5     3
18           Nagaland        2           1     3
19             Odisha       46          15     3
20             Punjab       58          32     3
21          Rajasthan       53          45     3
22             Sikkim        0           0     3
23         Tamil Nadu       32          28     3
24          Telangana       29          21     3
25            Tripura        4           4     3
26      Uttar Pradesh       89          72     3
27        Uttarakhand        4           4     3
28        West Bengal       22          16     3
29      A & N Islands        0           0     3
30         Chandigarh        7           4     3
31         D&N Haveli        0           0     3
32        Daman & Diu        0           0     3
33           Delhi UT       22          10     3
34        Lakshadweep        0           0     3
35         Puducherry        0           0     3

In [8]:
# create a new dataframe for jail escapees
jail_escape = pd.concat([df1, df2, df3])
jail_escape

             State/UT  Escaped  Rearrested  Year
0      Andhra Pradesh       34          22     1
1   Arunachal Pradesh       18          17     1
2               Assam       42          22     1
3               Bihar       51          31     1
4        Chhattisgarh       28          19     1
..                ...      ...         ...   ...
31         D&N Haveli        0           0     3
32        Daman & Diu        0           0     3
33           Delhi UT       22          10     3
34        Lakshadweep        0           0     3
35         Puducherry        0           0     3

[108 rows x 4 columns]

In [9]:
# now concat two, against_police and jail_escape dataframe
jail_crimes = pd.concat([against_police, jail_escape], axis=1, join='outer')
jail_crimes.drop(jail_crimes.columns[[6, 9]], axis = 1, inplace = True)
jail_crimes

,Total Cases,Police Arrested,Chargesheets,Chargesheet against police,Escaped,Rearrested
0,100,36,28,29,34,22
1,24,10,13,13,18,17
2,37,18,8,8,42,22
3,43,0,40,40,51,31
4,65,26,32,38,28,19
...,...,...,...,...,...,...
31,0,0,0,0,0,0
32,0,0,0,0,0,0
33,7,0,4,5,22,10
34,0,0,0,0,0,0
35,0,0,0,0,0,0